{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<h1>New Post</h1>

<form enctype="multipart/form-data" action="{% url 'todo_app:new_post' %}" method="POST">
  {% csrf_token %}
  <p>
    <label>Name: <br>
      <input type="text" name="name" class="textinputclass">
    </label>
    <label>Description: <br>
      <textarea name="description" rows="8" cols="80" class="editable medium-editors-textarea"></textarea>
    </label> <br>
    <p><button type="submit" class="save btn btn-default">Save</button></p>
  </p>
</form>

{% endblock %}
